* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body { 
    background-color: #222;
    margin: 0;
    padding: 0;
    color: black; /* 기본 텍스트 색상 */
    font-family: sans-serif;
}